/*
    - Used for commentary display
*/

body {
    font-family: "@FontFamilyCMT@";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

a {
    color: black;
    display: inline;
    text-decoration: none;
    border: 1px solid white;
    cursor: default;
}

a:hover {
    background: #CFECEC;
    border: 1px solid #677676;
    cursor: default;
}

pre {
    word-wrap: break-word;
    white-space: normal;
    font-family: "@FontFamilyCMT@";
}

textarea {
    /* resize: none; */
    border: 1px solid #999999;
    width: 100%;
    margin: 5px 0;
    padding: 3px;
}